:root {
    /* font family */
    --font-family-primary: "Helvetica";
    /* color */
    --color-deep-blue: #00171F;
    --bg-sky-blue: #00A8E8;
    --color-prussian-blue: #003459;
    --bg-clear-skies: #EAF9FF;
    --bg-crisp-blue: #007EA7;
    /* font size */
    --fs-extra-small: 14px;
    --fs-sm: 16px;
    --fs-base: 20px;
    --fs-md: 38px;
    --fs-lg: 48px;
    --fs-xl: 64px;
    /* line height */
    --lh-17: 17.6px;
    --lh-18: 18.4px;
    --lh-23: 23px;
    --lh-24: 24px;
    --lh-30: 30px;
    --lh-41: 41px;
    --lh-52: 52px;
    --lh-70: 70.4px;
    /* opacity */
    --opacity-90: 90%;
}

.font-family-primary {
    font-family: var(--font-family-primary);
}

/* color */
.color-deep-blue {
    color: var(--color-deep-blue);
}

.color-sky-blue {
    color: var(--bg-sky-blue);
}

.color-prussian-blue {
    color: var(--color-prussian-blue);
}

.bg-clear-skies {
    background-color: var(--bg-clear-skies);
}

.bg-crisp-blue {
    background-color: var(--bg-crisp-blue);
}

/* font size */
.fs-extra-small {
    font-size: var(--fs-extra-small);
}

.fs-sm {
    font-size: var(--fs-sm);
}

.fs-base {
    font-size: var(--fs-base);
}

.fs-md {
    font-size: var(--fs-md);
}

.fs-lg {
    font-size: var(--fs-lg);
}

.fs-xl {
    font-size: var(--fs-xl);
}

/* line height */
.lh-17 {
    line-height: var(--lh-17)
}

.lh-18 {
    line-height: var(--lh-18)
}

.lh-23 {
    line-height: var(--lh-23)
}

.lh-24 {
    line-height: var(--lh-24)
}

.lh-30 {
    line-height: var(--lh-30)
}

.lh-41 {
    line-height: var(--lh-41)
}

.lh-52 {
    line-height: var(--lh-52);
}

.lh-70 {
    line-height: var(--lh-70)
}

/* opacity */
.opacity-90 {
    opacity: var(--opacity-90);
}

@media (max-width:767.98px) {
    :root {
        --fs-xl: 56px;
        --lh-70: normal;
    }
}

@media (max-width:575.98px) {
    :root {
        --fs-xl: 40px;
        --fs-md: 33px;
    }
}